
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Remove unnecessary old styles */
.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1em rgba(255, 114, 94, 0.6));
}

.card {
  padding: 2em;
}
